h1 {
  font-family: Montserrat;
}

.bg-image {
  background-image: url("../images/coming-soon-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.beachball {
  width: 30px;
  animation-name: beachball-loading;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0 auto;
}

.text-container {
  width: 75%;
  margin: 0 auto;
  animation-name: slideInFromBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes beachball-loading {

  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

p {
  font-family: "Noto Serif KR";
  color: #565759;
  font-size: 16px;
  line-height: 1.9;
}

.contact-line {
  font-family: Montserrat;
}

.sm-icon {
  fill: red;
  transition: color .3s ease-in-out;
}

.sm-icon:hover {
  fill: #d8d8d8;
}
